@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins{
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
:root {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;

  color: #FFF7F7;
  background-color: #3D2528;

}

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 2vh 3vw 0vh;
}

*{
  margin: 0;
}

ul {
  padding: 0px;
  list-style: none;
}

input {
  text-decoration: none;
  color: inherit;
  outline: none;
  border: none;
}

a{
  text-decoration: none;
  color: #FFF7F7;
  transition: 0.5s;

  &:hover{
      color: #EDAF6C;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}